apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflared
  namespace: cloudflared
data:
  config.yaml: |
    # Name of the tunnel
    tunnel: home
    credentials-file: /etc/cloudflared/creds/credentials.json
    metrics: 0.0.0.0:2000
    no-autoupdate: true
    
    # Ingress rules define traffic routing
    ingress:
    # Special case for Let's Encrypt verification
    - hostname: services.k8s.it
      path: /.well-known/acme-challenge/
      service: $internal-ingress
      originRequest:
        httpHostHeader: "services.k8s.it"
        noTLSVerify: true
        http2Origin: true
    
    # Main service routing
    - hostname: services.k8s.it
      service: $internal-ingress
      originRequest:
        httpHostHeader: "services.k8s.it"
        noTLSVerify: true
        http2Origin: true
    
    # Default rule
    - service: http_status:404
